.bg-cover {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-gradient {
  background: linear-gradient(to bottom, #F0F6FF, #fff);
}

.bg-semi-oval {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #E7F5FF 100%);
    z-index: 0;
    @include media-breakpoint-up(lg) {
      border-bottom-left-radius: 25% 100px;
      border-bottom-right-radius: 25% 100px;
    }
  }
}

.bg-gradient-2 {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 77.5%);
}

.title-deco {
  position: relative;
  width: fit-content;
  &::before {
    content: '';
    position: absolute;
    top: -30px;
    left: -30px;
    background-image: url('../images/deco/flower-1.png');
    width: 60px;
    height: 60px;
    z-index: -1;
    background-repeat: no-repeat;
  }
}

.title-deco-left {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 0;
    width: 4px;
    background-color: $primary;
    border-radius: 10px;
  }
}

.title-flower-deco {
  &::before {
    content: '';
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    display: inline-block;
    background-image: url('../images/deco/flower-5-svg.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  &-lg::before {
    @include media-breakpoint-up(lg) {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}