<footer class="footer bg-dark py-12 py-lg-25 rounded-top-8">
  <div class="container">
    <div class="px-4 px-lg-0">
      <div class="d-md-flex align-items-md-end justify-content-md-between mb-10">
        <a href="#">
          <img class="footer__img object-fit-cover mb-10 mb-md-0"
            src="../assets/images/logo-white.png"
            alt="logo-white-img">
        </a>
        <ul class="list-unstyled d-md-flex align-items-md-center mb-0">
          <li class="mb-6 mb-md-0 me-md-8">
            <a href="#" class="fs-8 text-light">常見問題</a>
          </li>
          <li class="mb-6 mb-md-0 me-md-8">
            <a href="#" class="fs-8 text-light">關於我們</a>
          </li>
          <li class="mb-6 mb-md-0 me-md-8">
            <a href="#" class="fs-8 text-light">隱私權政策</a>
          </li>
          <li>
            <a href="#" class="fs-8 text-light">使用者條款</a>
          </li>
        </ul>
      </div>
      <div class="d-md-flex align-items-md-end justify-content-md-between">
        <ul class="list-unstyled d-flex align-items-center mb-8 mb-md-0 order-md-2">
          <li class="me-4">
            <a href="#" class="footer__icon text-light">
              <img src="../assets/images/icons/line-icon.svg" alt="line-icon">
            </a>
          </li>
          <li class="me-4">
            <a href="#" class="footer__icon text-light">
              <img src="../assets/images/icons/youtube.svg" alt="yt-icon">
            </a>
          </li>
          <li>
            <a href="#" class="footer__icon text-light">
              <img src="../assets/images/icons/fb-icon.svg" alt="fb-icon">
            </a>
          </li>
        </ul>
        <p class="fs-9 text-light order-md-1">
          copyright © 2024 課程網站 All Rights Reserved.
        </p>
      </div>
    </div>
  </div>
</footer>