.btn.disabled {
  color: $gray-60;
  background-color: $gray-40;
  border-color: $gray-40;
}

.btn-primary {
  color: #fff;
  &:hover {
    background-color: $primary-120;
  }
}

.btn-outline-primary {
  background-color: #fff;
}

.btn-light {
  border: 1px solid #ECECEC;
}

.btn-gray-10 {
  &:hover {
    background-color: $gray-40;
  }
}