.tag {
  padding: 0.5rem 0.75rem;
  border-radius: 100px;
  font-size: 0.875rem;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.02em;
  display: inline-block;
}

.tag-primary {
  background-color: $primary-10;
  color: $primary;
}

.tag-alert {
  background-color: $alert-10;
  color: $alert;
}

.tag-gray {
  background-color: $gray-40;
  color: $gray-80;
}