.header{
  &__logo {
    width: 125px;
    height: 20px;
    @include media-breakpoint-up(xl) {
      width: 200px;
      height: 32px;
    }
  }

  &__inner {
    position: relative;
    @include media-breakpoint-up(lg) {
      box-shadow: 0px 2px 40px 0px #0068FF1A;
      border-radius: 100px;
    }
  }

  .dropdow-info .dropdown-menu {
    width: 320px;
  }
  
  &__search{
    input {   
      padding-right: 73px;
      @include media-breakpoint-up(xxl) {
        width: 452px;
      }
    }
    label {
      left: 8px;
    }
    button {
      right: 8px;
    }
  }

  &__menuList-phone .title,
  &__menuList-desk .title {
    font-size: 1rem;
    color: $gray-80;
    font-weight: 400;
  }

  &__menuList-phone .offcanvas-body {
    overflow-y: scroll;
    height: calc(100vh - 145px);
  }

  &__menuList-desk {
    border-radius: 12px;
    overflow: hidden;
    .section {
      height: calc(100vh - 220px);
      overflow-y: scroll;
    }
    .dropdown-item {
      width: 208px;
    }
    .course-list {
     width: 351px;
   }
  }

}