<!DOCTYPE html>
<html lang="zh-hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>訂單資訊</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,1,0" />
  </head>
  <body class="pt-16 pt-lg-0">
    <%- include('./layout/header', {
        isLogin: "true",
        bgColor: "bg-gray-10"
      });
    -%>
    <div class="pt-6 pb-4 pt-lg-20 pb-lg-6 bg-gray-10">
      <div class="py-4">
        <ul class="progress-list list-unstyled justify-content-center">
          <li class="progress-list-item">
            <span class="progress-list-num">1</span>
            確認訂單
          </li>
          <li class="progress-list-item active">
            <span class="progress-list-num">2</span>
            <span class="d-none d-md-block">訂單資訊</span>
          </li>
          <li class="progress-list-item">
            <span class="progress-list-num">3</span>
            <span class="d-none d-md-block">訂單完成</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="bg-gray-10 pb-26 pb-md-38">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 px-0 px-md-3">
            <div class="border border-gray-40 rounded-md-3 bg-light mb-4 mb-lg-8">
              <div class="py-4 px-3 px-md-6 border-bottom d-flex align-items-center">
                <h2 class="fs-7 fs-lg-5 me-4">商品明細</h2>
                <p class="fs-8 fs-lg-7">共 2 項課程</p>
              </div>
              <ul class="list-unstyled m-0 px-3 px-md-6">
                <li class="py-8 border-bottom">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                      <div class="w-24p h-24p bg-primary rounded-1 text-light d-flex justify-content-center
                        align-items-center me-3 flex-shrink-0">
                        1
                      </div>
                      <p>使用 HTML、CSS 開發一個網站</p>
                    </div>
                    <p class="fw-semibold flex-shrink-0 ms-3 ps-4">NT$ 1,200</p>
                  </div>
                </li>
                <li class="py-8">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                      <div class="w-24p h-24p bg-primary rounded-1 text-light d-flex justify-content-center
                        align-items-center me-3 flex-shrink-0">
                        2
                      </div>
                      <p>一變應萬變：RWD 響應式網頁設計</p>
                    </div>
                    <p class="fw-semibold flex-shrink-0 ms-3 ps-4">NT$ 1,200</p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="border border-gray-40 rounded-md-3 bg-light mb-4 mb-lg-6">
              <div class="py-4 px-3 px-md-6 border-bottom">
                <h2 class="fs-7 fs-lg-5 me-4">付款方式</h2>
              </div>
              <div class="px-3 py-4 px-lg-6">
                <div class="py-5">
                  <input type="radio"
                    name="pay"
                    class="form-check-input w-24p h-24p mt-0 me-2"
                    data-bs-toggle="collapse"
                    href="#collapse-credit-card"
                    id="one-time-payment-btn"
                    role="button"
                    aria-expanded="false"
                    aria-controls="collapseExample">
                  <label for="one-time-payment-btn" class="text-gray-80">
                    信用卡一次付清
                    <img src="../assets/images/icons/Type=VISA.png"
                      class="ms-6 w-24p h-24p"
                      alt="visa-img">
                    <img src="../assets/images/icons/Type=Mastercard.png"
                      class="ms-2 w-24p h-24p"
                      alt="master-card-img">
                    <img src="../assets/images/icons/Type=JCB.png"
                      class="ms-2 w-24p h-24p"
                      alt="jcb-img">
                  </label>
                  <div class="collapse" id="collapse-credit-card">
                    <div class="card card-body ms-8 mt-4 bg-gray-10 p-3 p-md-6">
                      <div class="w-md-75 mb-4">
                        <div class="mb-3">
                          <label for="input-credit-card"
                            class="form-label">
                            信用卡卡號 <span class="text-alert">*</span>
                          </label>
                          <input type="tel"
                            class="form-control"
                            id="input-credit-card"
                            placeholder="**** **** **** ****">
                        </div>
                        <div class="d-flex">
                          <div class="me-4">
                            <label for="input-credit-card-date"
                              class="form-label">
                              信用卡有限期限 <span class="text-alert">*</span>
                            </label>
                            <input type="text"
                              class="form-control"
                              id="input-credit-card-date"
                              placeholder="ＭＭ / YY">
                          </div>
                          <div>
                            <label for="input-credit-card-num"
                              class="form-label">
                              卡片背面後三碼 <span class="text-alert">*</span>
                            </label>
                            <input type="number"
                              class="form-control"
                              id="input-credit-card-num"
                              placeholder="CVC / CVV">
                          </div>
                        </div>
                      </div>
                      <p class="fs-9 fs-md-8">
                        本公司採用喬睿科技 TapPay 金流交易系統，消費者刷卡時直接在銀行端系統中交易，本公司不會留下您的信用卡資料，以保障你的權益，資料傳輸過程採用嚴密的 SSL 2048bit 加密技術保護。
                      </p>
                    </div>
                  </div>
                </div>
                <div class="py-5">
                  <input type="radio"
                    name="pay"
                    class="form-check-input w-24p h-24p mt-0 me-2"
                    data-bs-toggle="collapse"
                    href="#collapse-credit-card-installment"
                    id="installment-payment-btn"
                    role="button"
                    aria-expanded="false"
                    aria-controls="collapseExample">
                  <label for="installment-payment-btn" class="text-gray-80">
                    信用卡分期
                    <img src="../assets/images/icons/Type=VISA.png"
                      class="ms-6 w-24p h-24p"
                      alt="visa-img">
                    <img src="../assets/images/icons/Type=Mastercard.png"
                      class="ms-2 w-24p h-24p"
                      alt="master-card-img">
                    <img src="../assets/images/icons/Type=JCB.png"
                      class="ms-2 w-24p h-24p"
                      alt="jcb-img">
                  </label>
                  <div class="collapse" id="collapse-credit-card-installment">
                    <div class="card card-body ms-8 mt-4 bg-gray-10 p-3 p-md-6">
                      <p class="fs-9 fs-md-8">
                        下一步將連至第三方金流服務進行辦卡，您所有的交易資訊皆獲得安全保護。
                      </p>
                    </div>
                  </div>
                </div>
                <div class="py-5">
                  <input type="radio"
                    name="pay"
                    class="form-check-input w-24p h-24p mt-0 me-2"
                    data-bs-toggle="collapse"
                    href="#collapse-linepay"
                    id="linepay-btn"
                    role="button"
                    aria-expanded="false"
                    aria-controls="collapseExample">
                  <label for="linepay-btn" class="text-gray-80">
                    LINE Pay
                    <img src="../assets/images/icons/LINE-Pay(h)_W238_n 2.png"
                      class="ms-6"
                      width="70"
                      height="20"
                      alt="linepay-img">
                  </label>
                  <div class="collapse" id="collapse-linepay">
                    <div class="card card-body ms-8 mt-4 bg-gray-10 p-3 p-md-6">
                      <p class="fs-9 fs-md-8">
                        使用 LINE Pay 付款，可用 LINE Points 折抵。您將被導入「LINE Pay」付款頁面進行安全結帳。
                      </p>
                    </div>
                  </div>
                </div>
                <div class="py-5">
                  <input type="radio"
                    name="pay"
                    class="form-check-input w-24p h-24p mt-0 me-2"
                    data-bs-toggle="collapse"
                    href="#collapse-streetpay"
                    id="streetpay-btn"
                    role="button"
                    aria-expanded="false"
                    aria-controls="collapseExample">
                  <label for="streetpay-btn" class="text-gray-80">
                    街口支付
                    <img src="../assets/images/icons/image 31.png"
                      class="ms-6"
                      width="50"
                      height="20"
                      alt="streetpay-img">
                  </label>
                  <div class="collapse" id="collapse-streetpay">
                    <div class="card card-body ms-8 mt-4 bg-gray-10 p-3 p-md-6">
                      <p class="fs-9 fs-md-8">
                        可用街口幣折抵，街口支付全用戶不分等級，使用街利存帳戶付款享筆筆 2% 街口幣，回饋無上限！
                      </p>
                    </div>
                  </div>
                </div>
                <div class="py-5">
                  <input type="radio"
                    name="pay"
                    class="form-check-input w-24p h-24p mt-0 me-2"
                    data-bs-toggle="collapse"
                    href="#collapse-atm"
                    id="atm-btn"
                    role="button"
                    aria-expanded="false"
                    aria-controls="collapseExample">
                  <label for="atm-btn" class="text-gray-80">
                    ATM 轉帳
                  </label>
                  <div class="collapse" id="collapse-atm">
                    <div class="card card-body ms-8 mt-4 bg-gray-10 p-3 p-md-6">
                      <p class="fs-9 fs-md-8">
                        下一步將連至第三方金流選擇銀行並取得繳費資訊
                      </p>
                    </div>
                  </div>
                </div>
                <div class="py-5">
                  <input type="radio"
                    name="pay"
                    class="form-check-input w-24p h-24p mt-0 me-2"
                    data-bs-toggle="collapse"
                    href="#collapse-store"
                    id="store-btn"
                    role="button"
                    aria-expanded="false"
                    aria-controls="collapseExample">
                  <label for="store-btn" class="text-gray-80">
                    超商付款
                  </label>
                  <div class="collapse" id="collapse-store">
                    <div class="card card-body ms-8 mt-4 bg-gray-10 p-3 p-md-6">
                      <p class="fs-9 fs-md-8">
                        超商付款將加收 NT$30 手續費，若募資失敗手續費將不進行退款。
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="border border-gray-40 rounded-md-3 bg-light">
              <div class="py-4 px-3 px-md-6 border-bottom">
                <h2 class="fs-7 fs-lg-5 me-4">發票選項</h2>
              </div>
              <div class="py-4 px-6">
                <a href="#" class="btn btn-outline-primary mb-6">帶入上次結帳資料</a>
                <div class="row gy-6 mb-6">
                  <div class="col-md-6">
                    <label for="name"
                      class="form-label">
                      姓名 <span class="text-alert">*</span>
                    </label>
                    <input type="text"
                      class="form-control"
                      id="name"
                      placeholder="請填寫真實姓名">
                  </div>
                  <div class="col-md-6">
                    <label for="email"
                      class="form-label">
                      聯絡用電子信箱 <span class="text-alert">*</span>
                    </label>
                    <input type="text"
                      class="form-control"
                      id="email"
                      placeholder="請填寫電子信箱">
                  </div>
                  <div class="col-md-6">
                    <label for="invoice-type"
                      class="form-label">
                      發票類型 <span class="text-alert">*</span>
                    </label>
                    <select class="form-select mb-2"
                      id="invoice-type"
                      aria-label="Default select example">
                      <option value="電子發票" selected>電子發票</option>
                      <option value="統編發票">統編發票</option>            
                    </select>
                    <p class="title-flower-deco">如需開立統編，請選擇統編發票</p>
                  </div>
                  <div class="col-md-6">
                    <label for="invoice-get"
                      class="form-label">
                      領取方式 <span class="text-alert">*</span>
                    </label>
                    <select class="form-select mb-2"
                      id="invoice-get"
                      aria-label="Default select example">
                      <option value="save-in-account" selected>
                        存在 Learning 中，中獎寄信通知
                      </option>
                      <option value="save-in-phone">
                        手機條碼載具
                      </option>
                      <option value="save-in-phone">
                        自然人憑證
                      </option>             
                    </select>
                  </div>
                </div>
                <div class="d-none">
                  <label for="phone"
                    class="form-label">
                    手機載具條碼
                  </label>
                  <input type="text"
                    class="form-control"
                    id="phone"
                    placeholder="前面加上 / ，加上 7 個數字及大寫字母字元">
                </div>
                <div class="d-none row gy-6">
                  <div class="col-md-6">
                    <label for="company-name"
                      class="form-label">
                      公司抬頭 <span class="text-alert">*</span>
                    </label>
                    <input type="text"
                      class="form-control"
                      id="company-name"
                      placeholder="請輸入公司抬頭">
                  </div>
                  <div class="col-md-6">
                    <label for="company-id"
                      class="form-label">
                      公司統編 <span class="text-alert">*</span>
                    </label>
                    <input type="number"
                      class="form-control"
                      id="company-id"
                      placeholder="請輸入公司統編">
                  </div>
                  <div class="col-md-3">
                    <label for="postal-code"
                      class="form-label">
                      郵遞區號 <span class="text-alert">*</span>
                    </label>
                    <input type="number"
                      class="form-control"
                      id="postal-code"
                      placeholder="請輸入郵遞區號">
                  </div>
                  <div class="col-md-9">
                    <label for="company-address"
                      class="form-label">
                      公司地址 <span class="text-alert">*</span>
                    </label>
                    <input type="text"
                      class="form-control"
                      id="company-address"
                      placeholder="請輸入公司地址">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 d-none d-lg-block">
            <div class="bg-light rounded-45 p-6 shadow-custom">
              <h1 class="fs-5 mb-8">訂單明細</h1>
              <div class="d-flex justify-content-between pb-8 border-bottom">
                <p class="text-gray-80">2 項課程小計</p>
                <p class="fw-semibold">NT$ 3600</p>
              </div>
              <div class="pt-8">
                <div class="d-flex justify-content-between align-items-end mb-8">
                  <p class="text-gray-80">總計</p>
                  <p class="fw-semibold fs-3">NT$ 3,600</p>
                </div>
                <a href="order-complete.html" class="btn btn-primary w-100 mb-4">同意並付款</a>
                <p class="fs-8">
                  確認購買即表示您已審閱 Learning 所提供之購物相關條款，並同意條款內容。
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="px-3 py-4 bg-light d-flex justify-content-between d-lg-none w-100 z-pop position-fixed start-0 bottom-0" data-modal-btn>
      <div>
        <a href="#" class="fs-8 text-gray-80 mb-1"
           data-bs-toggle="modal"
           data-bs-target="#cart-modal"
           data-toggle-btn>
          <span data-open-text>展開明細</span>
          <span class="d-none" data-close-text>收合明細</span>
          <span class="material-symbols-outlined icon-arrow" data-icon-arow>keyboard_arrow_up</span>
        </a>
        <p class="fs-6 fw-semibold">NT$ 3,600</p>
      </div>
      <a href="order-complete.html" class="btn btn-primary">同意並付款</a>
    </div>
    <div class="ckeck-modal modal fade" id="cart-modal" tabindex="-1">
      <div class="modal-dialog modal-fullscreen h-auto position-absolute">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title fs-8 fw-semibold">訂單明細</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body py-6">
            <div class="d-flex justify-content-between align-items-center
              fs-8 text-gray-80 pb-4 border-bottom">
              <p>2 項課程小計</p>
              <p class="fw-semibold">NT$ 3600</p>
            </div>
            <div class="pt-4">
              <div class="d-flex justify-content-between align-items-center fs-8 text-gray-80 mb-6">
                <p>總計</p>
                <p class="fw-semibold fs-6">NT$ 3600</p>
              </div>
              <p class="fs-8 text-gray-80">
                確認購買即表示您已審閱 Learning 所提供之購物相關條款，並同意條款內容。
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-none d-lg-block">
      <%- include('./layout/footer'); -%>
    </div>
    <script type="module" src="../main.js"></script>
    <script type="module" src="../assets/js/order.js"></script>
  </body>
</html>
